authentication:
  allow_anonymous_access: false
  single_user_api_key_scopes:
    - read:metadata
    - read:data
    - create
    - write:metadata
    - write:data

uvicorn:
  host: "0.0.0.0"
  port: 8000

trees:
  - path: /
    tree: catalog
    args:
      uri: "sqlite+aiosqlite:////catalog/catalog.db"
      writable_storage: "/data/"
      init_if_not_exists: true
